{% extends "base.html" %}
{% block content %}
<h1>DETAIL PAGE</h1>
<img src="{{movie.image.url}}" alt="" style='width:400px;height:500px;'>
<h2>{{movie.title}}</h2>
<h3>{{movie.content}}</h3>
{% if movie.image %}

{% endif %}
<a href="{% url "movies:update" movie.pk %}"><button class='btn btn-secondary'>UPDATE</button></a>
<a href="{% url "movies:delete" movie.pk %}"><button class='btn btn-danger'>DELETE</button></a>
<a href="{% url "movies:index" %}" class='btn btn-primary'>back</a>
{% endblock content %}